In [14]:
from typing import Final
from pathlib import Path
import pandas as pd

In [27]:
pd.options.plotting.backend = "plotly"

In [ ]:
FILE: Final = Path("assets/archive.zip")

dataf = pd.read_csv(FILE)

In [16]:
dataf.sample(5)

,ORIGIN,MOSTYPE,MAANTHUI,MGEMOMV,MGEMLEEF,MOSHOOFD,MGODRK,MGODPR,MGODOV,MGODGE,...,APERSONG,AGEZONG,AWAOREG,ABRAND,AZEILPL,APLEZIER,AFIETS,AINBOED,ABYSTAND,CARAVAN
6135,test,1,1,2,4,1,0,4,0,5,...,0,0,0,1,0,0,0,0,0,1
9589,test,35,1,3,3,8,0,5,0,4,...,0,0,0,1,0,0,0,0,0,0
346,train,34,1,3,2,8,0,7,0,2,...,0,0,0,0,0,0,0,0,0,0
8557,test,23,1,1,3,5,1,4,1,4,...,0,0,0,1,0,0,0,0,0,0
4438,train,7,1,3,3,2,1,5,0,4,...,0,0,0,1,0,0,0,0,0,0

In [28]:
# read (asking --- G, C, )
# dytpe

MGODOV      int64
MGODGE      int64
MRELGE      int64
MRELSA      int64
MRELOV      int64
MFALLEEN    int64
MFGEKIND    int64
MFWEKIND    int64
MOPLHOOG    int64
MOPLMIDD    int64
dtype: object

In [41]:
(
    dataf
        #.sample(100)
        #.iloc[:, range(8, 18)]
        #.dtypes
        #.describe().T
        .loc[:, ["CARAVAN"]]
        .value_counts(normalize=True)
)

CARAVAN
0          0.940338
1          0.059662
dtype: float64

In [40]:
accuracy = 0.976543

f"Accuracy is {accuracy: .1%}"

'Accuracy is  97.7%'